
.container{
    background-color: gray;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0 20px;
    color: white;
}

.btn {
    background-color: rgb(44, 39, 39);
    border-radius: 16px;
    /* width: 100px; */
    margin: 20px 1px;
    margin-top: 6px;
    color: white;
    padding: 4px 12px;
}
.input {
    border-radius: 16px;
}