.gjs-title {
  color: rgba(0, 0, 0, 0.7);
  font-size: 1.2rem;
}
.gjs-blocks-c .block5-preview,
.gjs-blocks-c .block7-preview {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),
    url("../../../../../public/shoes-product-card.png") !important;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.gjs-blocks-c .block6-preview {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),
    url("../../../../../public/657c6f368334e05ac4e1cad5_IMG_CARD_SUBSCRIPTION.png") !important;
  background-size: cover; /* Cover the entire block with the image */
  background-position: center; /* Center the image within the block */
  background-repeat: no-repeat;
}
.gjs-blocks-c .block2-preview,
.gjs-blocks-c .block11-preview {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),
    url("../../../../../public/istockphoto-486916254-612x612.jpg") !important;
  background-size: cover; /* Cover the entire block with the image */
  background-position: center; /* Center the image within the block */
  background-repeat: no-repeat;
}

.gjs-blocks-c .block1-preview {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),
    url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRQCxmI_3au0wn7FnWdjqxhc62-0OK51YEx3g&s") !important;
  background-size: cover; /* Cover the entire block with the image */
  background-position: center; /* Center the image within the block */
  background-repeat: no-repeat;
}
.gjs-blocks-c .block4-preview {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),
    url("../../../../../public/istockphoto-915201060-612x612.jpg") !important;
  background-size: cover; /* Cover the entire block with the image */
  background-position: center; /* Center the image within the block */
  background-repeat: no-repeat;
}
.gjs-blocks-c .block3-preview {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),
    url("../../../../../public/istockphoto-940823482-612x612.jpg") !important;
  background-size: cover; /* Cover the entire block with the image */
  background-position: center; /* Center the image within the block */
  background-repeat: no-repeat;
}
.gjs-blocks-c .block8-preview {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),
    url("../../../../../public/pexels-photo-2480854.webp") !important;
  background-size: cover; /* Cover the entire block with the image */
  background-position: center; /* Center the image within the block */
  background-repeat: no-repeat;
}
.gjs-blocks-c .block9-preview,
.gjs-blocks-c .block10-preview {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),
    url("../../../../../public/istockphoto-1504315312-612x612.jpg") !important;
  background-size: cover; /* Cover the entire block with the image */
  background-position: center; /* Center the image within the block */
  background-repeat: no-repeat;
}
.gjs-block-label {
  color: white;
  font-size: 13px;
  font-weight: bold;
}
